# Pods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS system files
*.DS_Store

# Logs
*.log

# Build artifacts
build/
DerivedData/
